body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-image: url(/bg.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #666;
    color: #d9d9d9;
}

header{
    display: flex;
    /* background-color: white; */
    /* border-bottom: 0.5px solid rgba(61, 61, 61,5); */
    margin: 1.5em 2em;
    padding: .7em .8em;
    align-items: center;
    justify-content: space-between;
    color: #cccccc;
    background-color: #000;
    border-radius: 8px;
    background-image: url(/scrn1.png);
    background-size: cover;
}

.head-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    padding: .25em;
    margin: 0;
    font-size: 1.15em;
    font-weight: 400 !important;
    font-family: "Tiny5", sans-serif;
    
}

#home{
    /* justify-self: flex-end; */
    /* margin-left: auto; */
    border: none;
    background: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home img{
    width: 26px;
    height: 26px;
}

#home:active{
    background-color: rgb(243, 242, 242);
}

main{
    display: flex;
    justify-content: center;
    height: 80vh;
}


.testchoice_cont{
    /* align-self: center; */
    /* margin-top: 2em; */
}

.testchoice_cont_in{
    display: grid;
    width: 308px;
    height: 450px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33% ;
    gap: .5em;
    padding: .5em;
    box-sizing: border-box;
    /* justify-self: center; */
}

.testchoice_cont_in button{
    color: #ff7e81;
    font-size:3em;
    border: none ;
    border-radius: 99px;
    background-image: url(/btn-bg.png);
    background-position: center;
    background-size: cover;
    background-color: transparent;
    
}

.testchoice_cont_in button:active{
    background-color: rgb(45, 1, 39);
}

#choice_mix{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
    border-radius: 99px;
    background-image: url(big-btn-bg2.png);
    color: #180e0d;
    opacity: 100%;
}

.rangesel_cont{
    width: 100%;
    /* height: 300px; */
    padding: 0 2em;
    display: none;
    

}


input{
    border: none;
    background-color: transparent;
    padding: 0.8em;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    background-image: url(scrn3.png);
    background-size: cover;
    /* background-repeat: round; */
    color: #ff7e81;
    font-size: 1.3em;
}

.rangesel_cont input{
    background-image: url(scrn2.png) !important;
    padding: 1.05em;
    font-size: 1em;
}

fieldset{
    margin-bottom: 1em;
    border: 1px solid #2c2c2c;
    border-radius: 8px;
    color: #666;
}

.inpgp{
    display: flex;
    align-items: center;
    gap: .2em;
}

.inpgp label{
    font-size: .8em;
}

.btn{
    display: block;
    padding: 1.75em;
    background-color: transparent;
    background-image: url(/pink-btn.png);
    background-size: cover;
    border: none;
    margin-bottom: 1em;
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: bold;
    color: #180e0d;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:disabled{
    /* background-color: #a1d6b0; */
    opacity: 50%;
}

.btn-outline{
    /* background-color: white !important;
    color: #0DBA3E !important;
    border: 1px solid #0DBA3E !important; */
    background-color: transparent;
    background-image: url(/blk-btn.png);
    color: #ff7e81;
}

button:active{
    /* background-color: #047023; */
}

.btn-outline:active{
    /* color: #047023 !important;
    border: 1px solid #047023 !important; */
}

.gamearea{
    width: 100%;
    padding: 0 2em;
    display: none;

}

.gamearea p{
    text-align: center;
}

.calctxt{
    font-size: 2em;
}

#chngrng{
    background: none;
    border-radius: 0px;
    font-family: inherit;
    border: 1px solid grey;
    padding: .25em .75em ;
    color: rgb(177, 177, 177);
    border-radius: 33px;
}



#counter{
    float: right;
}

#ans, #minmax-error{
    font-size: .85em;
}

.ans-cont{
    display: flex;
    gap: 1rem;
    align-items: center ;
}